<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.riyaz.bakingapp">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".BakingApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Baking">
    <activity android:name=".screens.recipes.RecipeListActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".screens.ingredients.IngredientListActivity" android:label="@string/ingredient.what_you_will_need">
    </activity>
    <activity android:name=".screens.steps.StepsActivity">
    </activity>
  </application>

</manifest>